body {
    margin: 0;
    font-family: Tahoma;
    min-width: 500px;
    box-sizing: border-box;
    min-width: 908px;
    position: absolute;
    min-width: 2000px;
}

.header {
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: #1a1a1a;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    color: #ceff1d;
    padding-left: 10px;
    font-family: Tahoma;
    font-size: 25px;
    font-weight: bold;
    display: table;
    vertical-align: middle;
}

.menu {
    width: 200px;
    height: 100vh;
    background: #f1f1f1;
    float: left;
    text-align: center;
}

.info {
    width: auto;
    height: auto;
    margin-top: 80px;
    float: left;
}

.photo {
    color: white;
    width: 40%;
    height: 300px;
}

.edit_photo {
    margin-top: 30px;
    width: 100%;
    height: 100px;
    text-align: center;
}

.btn_edit {
    display: inline-block;
    background: #1a1a1a;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
    cursor: pointer;
}

.user-info {
    width: 100%;
    height: 320px;
}

.films-info {
    width: 100%;
    height: 45vh;
}

.photo {
    float: left;
    width: 250px;
    height: 300px;
    min-width: 230px;
}

.inf {
    float: left;
    height: 300px;
    margin-left: 50px;
}

.photo-card {
    margin-top: 10px;
    margin-left: 25px;
    width: 200px;
    height: 200px;
}

.gen-info {
    width: 100%;
    height: 200px;
}

.film-info {
    width: 100%;
    height: 65px;
    margin: auto;
}

.film-info-table {
    width: 400px;
    height: 35px;
    text-align: center;
    line-height: 0.5;
    margin: auto;
}

.friends {
    width: 200px;
    height: 400px;
    background-color: black;
    margin-left: 22px;
    color: white;
    float: left;
}

.feed {
    text-align: center;
    height: 500px;
    width: calc(100% - 230px);
    float: right;
}

.post {
    margin-left: 70px;
    width: 600px;
    height: 400px;
    box-shadow: 0 0 1px 0;
    margin-bottom: 30px;
}

.post:hover {
    background-color: #f1f1f1;
}

.post-owner-info {
    background-color: #1a1a1a;
    width: 100%;
    height: 15%;
    margin: 0;
}

.post-mini-image {
    float: left;
    width: 10%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 4px;
}

.post-owner {
    padding-top: 10px;
    float: left;
    width: 75%;
    height: 100%;
    color: #fff;
    text-align: left;
    padding-left: 20px;
}

.post-menu {
    float: left;
    width: 11.6%;
    height: 100%;
}

.menu-item {
    padding-left: 10px;
    text-align: left;
    width: 100%;
    height: 20px;
    font-family: Tahoma;
    font-weight: 500;
}

.top-menu-item {
    padding-left: 10px;
    font-weight: 500px;
    text-align: left;
    margin-top: 90px;
    width: 100%;
    height: 20px;
    font-family: Tahoma;
}

.poster {
    margin-bottom: 10px;
    width: 40%;
    background-color: red;
    height: 320px;
    float: left;
    margin-left: 10px;
}

.note {
    margin: 0;
    float: left;
    width: 58%;
    height: 330px;
}