form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    height: 42px;
}

input {
    height: 42px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

input:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid #F9F0DA;
}

button {
    background: #1a1a1a;
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#rock {
    width: 150px;
    height: 150px;
    background-image: url(/img/film_search.png);
    background-repeat: no-repeat;
}

button:before {
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}
.super_li {
    color:black;
    background-color: white;
}
.super_li:hover {
    color: black;
    background-color: white;
}
#form {
    top: 95px;
}
.block_films {
    height: 500px;
    width: calc(100% - 230px);
    margin-top: 100px;
    float:left;
}
.film_short_info {
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: 30px;
    margin-top: 30px;
    height: 100px;
    background-color: rgb(26, 26, 26);
}
.film_image {
    width: auto;
    height: 55px;
    margin: 10px;
}
.film_title {
    color: white;
    font-family: Tahoma;
    width: 100px;
    margin-left: 10%;
    margin-right: 20px;
    margin-bottom: 40%;
    top: 20px;
}