<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\my_page.css">
    <link rel="stylesheet" href="..\static\css\feed.css">
    <title>feed</title>
</head>

<body>
<div class="header">
    <k class="logo">CumImdb</k>
    <a href="/logout" class="logout">Выйти</a>
</div>
<div class="main">
    <div class="menu">
        <div class="top-menu-item">
            <a href="/feed" style="text-decoration: none; color: black;"><p> Что посмотреть?</p></a>
        </div>
        <div class="menu-item">
            <p>Сообщения</p>
        </div>
        <div class="menu-item">
            <a href="/friends" style="text-decoration: none; color: black;"><p>Друзья</p></a>
        </div>
        <div class="menu-item">
            <a href="/search_films" style="text-decoration: none; color: black;"><p>Поиск</p></a>
        </div>
        <div class="menu-item">
            <a href="/profile" style="text-decoration: none; color: black;"><p>Я</p></a>
        </div>
    </div>
    <div class="main-feed">
        {% block content %}
                {% for item in posts%}
                <div class="post">
                    <div class="post-owner-info">
                        <div class="post-mini-image"><img src="/download{{current_user.photo}}"
                                                          style="border-radius: 100px; border:2px solid #ceff1d"
                                                          width="80%" height="80%"></div>
                        <div class="post-owner">
                            <k>{{item[2].name}}</k>
                            <br>
                            <k>{{item[0].creation_date.strftime('%H:%M')}}</k>
                        </div>
                        <div class="post-menu"></div>
                    </div>
                    <div class="post-content">
                        <div class="poster"><img width="100%" height="100%" src="{{item[1]['image_url']}}"></div>
                        <div class="title"><p>{{item[1]['title']}}</p></div>
                        <div class="note">{{item[0].text}}</div>
                    </div>
                </div>
                {% endfor %}
                {% endblock %}
    </div>
</div>

</body>

</html>