<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фильм</title>
    <link rel="stylesheet" href="/static/css/my_page.css">
    <link rel="stylesheet" href="/static/css/film.css">
</head>
<body>
<div class="header">
    <p>CumImdb</p>
</div>
<div class="main">
    <div class="menu">
        <div class="top-menu-item">
            <a href="/feed" style="text-decoration: none; color: black;"><p> Что посмотреть?</p></a>
        </div>
        <div class="menu-item">
            <p>Сообщения</p>
        </div>
        <div class="menu-item">
            <p>Друзья</p>
        </div>
        <div class="menu-item">
            <a href="/search_films" style="text-decoration: none; color: black;"><p>Поиск</p></a>
        </div>
        <div class="menu-item">
            <a href="/profile" style="text-decoration: none; color: black;"><p>Я</p></a>
        </div>
    </div>
    <div class="info">
        <div class="posterWithPlotSummary">
            <div class="poster">
                <div class="poster_inner">
                    <img src="{{film.image_url}}" style="height: 400px; width: 100%;">
                </div>
            </div>
            <div class="film-info">
                <div>
                    <h1 class="title">{{film.title}}</h1>
                </div>
                <div class="film_info">
                    <p class="synopsis">{{film.synopsis}}</p>
                    <p class="director">Director: {{film.director}}</p>
                    <p class="cast">Cast: {{film.cast}}</p>
                    <p class="duration">Duration: {{film.duration}}</p>
                    <a href="{{film.url}}" style="text-decoration: none; color: black;"><p class="rating">IMDB rating: {{film.rating}}</p></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>