<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/my_page.css">
    <link rel="stylesheet" href="/static/css/friends.css">
    <title>Friends</title>
</head>

<body>
<div class="header">
    <k class="logo">CumImdb</k>
    <a href="/logout" class="logout">Выйти</a>
</div>
<div class="main">
    <div class="menu">
        <div class="top-menu-item">
            <a href="/feed" style="text-decoration: none; color: black;"><p> Что посмотреть?</p></a>
        </div>
        <div class="menu-item">
            <p>Сообщения</p>
        </div>
        <div class="menu-item">
            <a href="/friends" style="text-decoration: none; color: black;"><p>Друзья</p></a>
        </div>
        <div class="menu-item">
            <a href="/search_films" style="text-decoration: none; color: black;"><p>Поиск</p></a>
        </div>
        <div class="menu-item">
            <a href="/profile" style="text-decoration: none; color: black;"><p>Я</p></a>
        </div>
    </div>

    <div class="form-body">
        <div class="user-friends">
            <p style="color: black; font-family: Tahoma; text-align: center;">Ваши друзья</p>
            <form action="" method="POST"
                  style="margin-left: 5px; margin-top: 5px; width:auto; height: auto; top: 2px;">
                {% for friend in friends %}
                <div class="user-friends-div">
                    <div class="post-mini-image" style="padding-bottom: 4px;"><img
                            src="/download/db/user_images/avatar.jpg"
                            style="border-radius: 100px; border:2px solid #ceff1d;"
                            width=auto height=60px></div>
                    <div class="info-user">
                        <a href="/user/{{friend.id}}" style="text-decoration:none; color:white;"><k>{{ friend.surname + ' ' + friend.name }}</k></a>
                        <button name="unfriend{{loop.index0}}" type="submit" class="btn-primary"
                                id="unfriend{{loop.index0}}" value="{{friend.id}}">Удалить друга</button>
                    </div>
                    <div>{{ message }}</div>
                </div>
                {% endfor %}
            </form>
        </div>
        <div class="make-friends">
            <p style="color: black; font-family: Tahoma; text-align: center;">Добавить друзей</p>
            <form action="" method="POST"
                  style="margin-left: 5px; margin-top: 5px; width:auto; height: auto; top: 2px;">
                {% for friend in may_be_friends %}
                <div class="user-friends-div">
                    <div class="post-mini-image" style="padding-bottom: 4px;"><img
                            src="/download/db/user_images/avatar.jpg"
                            style="border-radius: 100px; border:2px solid #ceff1d;"
                            width=auto height=60px></div>
                    <div class="info-user">
                        <a href="/user/{{friend.id}}" style="text-decoration:none; color:white;"><k>{{ friend.surname + ' ' + friend.name }}</k></a>
                        <button name="make_friend{{loop.index0}}" type="submit" class="btn-primary"
                                id="make_friend{{loop.index0}}" value="{{friend.id}}">Добавить друга</button>
                    </div>
                    <div>{{ message }}</div>
                </div>
                {% endfor %}
            </form>
        </div>
    </div>
</div>
</body>
</html>
