<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\css\my_page.css">
    <title>my_page</title>
</head>

<body>
    <div class="header">
        <p>CumImdb</p>
    </div>
    <div class="main">
        <div class="menu"></div>
        <div class="info">
            <div class="user-info">
                <div class="photo">
                    <div class="photo-card">
                        <img src="/../db/user_images/avatar.jpg" alt="">
                    </div>
                    <div class="edit_photo">

                        <button class="btn_edit">Редактировать</button>

                    </div>
                </div>
                <div class="inf">
                    <div class="gen-info">
                        <H1 style="text-align:center; font-family:Tahoma">{{current_user.name}} {{current_user.surname}}</H1>
                        <h4 style="text-align:center; font-family:Tahoma">{{current_user.age}} лет</h4>
                        <p style="text-align:center; font-family:Tahoma">{{current_user.description}}</p>
                    </div>
                    <div class="film-info">
                        <table class="film-info-table" cellpadding="10">
                            <tr>
                                <td>
                                    <k style="font-size: 30px; font-weight:500; ">{{current_user.number_own_posts}}</k>
                                    <p>рецензий</p>
                                </td>
                                <td>
                                    <k style="font-size: 30px; font-weight:500; ">{{current_user.number_liked_posts}}</k>
                                    <p>понравилось</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="bottom-info">
                <div class="friends">
                    блок друзей
                </div>
                <div class="feed">
                    <div class="post"></div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>