<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/my_page.css">
    <title>My page</title>
</head>

<body>
<div class="header">
    <k class="logo">CumImdb</k>
    <a href="/logout" class="logout">Выйти</a>
</div>
<div class="main">
    <div class="menu">
        <div class="top-menu-item">
            <a href="/feed" style="text-decoration: none; color: black;"><p> Что посмотреть?</p></a>
        </div>
        <div class="menu-item">
            <p>Сообщения</p>
        </div>
        <div class="menu-item">
            <p>Друзья</p>
        </div>
        <div class="menu-item">
            <a href="/search_films" style="text-decoration: none; color: black;"><p>Поиск</p></a>
        </div>
        <div class="menu-item">
            <a href="/profile" style="text-decoration: none; color: black;"><p>Я</p></a>
        </div>
    </div>
    <div class="info">
        <div class="user-info">
            <div class="photo">
                <div class="photo-card">
                    <img src="/download/db/user_images/avatar.jpg">
                </div>
                <div class="edit_photo">
                    <button class="btn_edit">Редактировать</button>
                </div>
            </div>
            <div class="inf">
                <div class="gen-info">
                    <H1 style="text-align:center; font-family:Tahoma">{{current_user.name}}
                        {{current_user.surname}}</H1>
                    <h4 style="text-align:center; font-family:Tahoma">{{current_user.age}} лет</h4>
                    <p style="text-align:center; font-family:Tahoma">{{current_user.description}}</p>
                </div>
                <div class="film-info">
                    <table class="film-info-table" cellpadding="10">
                        <tr>
                            <td>
                                <k style="font-size: 30px; font-weight:500; ">{{current_user.number_own_posts}}</k>
                                <p>рецензий</p>
                            </td>
                            <td>
                                <k style="font-size: 30px; font-weight:500; ">{{current_user.number_liked_posts}}</k>
                                <p>понравилось</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="bottom-info">
            <div class="friends">
                блок друзей
            </div>
            <div class="feed">
                {% block content %}
                {% for item in posts%}
                <div class="post">
                    <div class="post-owner-info">
                        <div class="post-mini-image"><img src="/download/db/user_images/avatar.jpg"
                                                          style="border-radius: 100px; border:2px solid #ceff1d"
                                                          width="80%" height="80%"></div>
                        <div class="post-owner">
                            <k>{{current_user.name}}</k>
                            <br>
                            <k>{{item.creation_date.strftime('%H:%M')}}</k>
                        </div>
                        <div class="post-menu"></div>
                    </div>
                    <div class="post-content">
                        <div class="poster">Тут Дкенис сделает постер</div>
                        <div class="note">{{item.text}}</div>
                    </div>
                </div>
                {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>




